@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
    // var dept = ViewBag.Department;
}

<h1>Employee</h1>
<br />
<br />
<a class="btn btn-primary" asp-action="Create" asp-controller="Employee">Create New Employee</a>
<br />

<div class="d-flex align-items-center justify-content-center row">
    <form asp-action="Index" class="mt-5 col-4 d-flex">
        <input type="text" name="SearchInp" class="form-control col-6"/>
        <input type="submit" value="Search" class="btn btn-success col-2"/>
    </form>
</div>


@if (Model.Count() > 0)
{
    <table class="mt-4 table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(D => D.Name)</th>
                <th>@Html.DisplayNameFor(D => D.Age)</th>
                <th>@Html.DisplayNameFor(D => D.Salary)</th>
                @* <th>@Html.DisplayNameFor(D => D.Gender)</th> *@
                <th>@Html.DisplayNameFor(D => D.Email)</th>
                <th>Department</th>
                <th>@Html.DisplayNameFor(D => D.IsActive)</th>
                <th>@Html.DisplayNameFor(D => D.IsDeleted)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @* <td>@item.Id</td> *@
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Salary</td>
                    @* <td>@item.Gender</td> *@
                    @* <td>@item.Phone</td> *@
                    <td>@item.Email</td>
                    <td>@item.DepartmentId</td>
                    @* <td>@item.EmployeeType</td> *@
                    <td>@item.IsActive</td>
                    <td>@item.IsDeleted</td>
                    <td>
                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">
                            <i class="fas fa-eye"></i>  Details
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">
                            <i class="fas fa-edit"></i> Update
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There Is No Employees :(</h3>
    </div>
}

